/* About 전체 레이아웃 */
.about {
  padding: 100px 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.about h2 {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  gap: 2rem;
}

.poto {
  width: 180px;
  height: 100%;
  object-fit: cover; /* 사진 깨짐 방지 */
  border-radius: 10px;
}

.box {
  box-sizing: border-box;
  width: 250px;
  height: 120px;

  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  text-align: left;

  display: flex;
  align-items: center; /* 카드 높이 수직 중앙 정렬 */

  box-shadow: 1px 1px 1px gray;
}

.info {
  display: grid; /* 그리드 레이아웃 */
  grid-template-columns: repeat(2, 1fr); /* 2개의 열을 1:1 동일 비율 배치 */
  gap: 12px;
  max-width: 540px;
  width: 100%;
}
