.archive {
  padding: 60px 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin-top: 2rem;
}

.box {
  display: flex;
  gap: 1.5rem;
}

.box2 {
  flex: 1;
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  border: 1px solid rgb(194, 192, 192);
  border-radius: 10px;
  padding: 1.5rem;

  box-shadow: 5px 2px 1px gray;
}

.box2 a {
  color: #333333; /* 기본 본문 텍스트 색상 */
  text-decoration: none; /* 파란 밑줄 제거 */
}

.hover:hover {
  color: rgb(130, 195, 195);
}

.box2 > * {
  margin: 0 !important;
}
