.hero {
  padding-top: 130px;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #e6e4e4;
}

.links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.links a {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
  border-radius: 8px;
}

.project:hover {
  background-color: #e4e4e4;
}

.git:hover {
  background-color: #e4e4e4;
}