.projects {
  padding: 100px 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.tag {
    display: flex;
    padding: 20px;
}

.sltag {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100px;
}

.sltag:hover {
    background-color: rgb(227, 227, 227);
}

.log {
    width: 400px;
}

.log:hover {
    color: aqua;
}

.poto {
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    display: flex;
}

.box {
    padding: 10px;
    margin: 10px;
    width: 380px;
    border: 1px solid #c1c1c1;
    margin-top: 0%;
    border-radius: 10px;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(227, 235, 243);
}

.box2 {
    padding: 10px;
    margin: 10px;
    width: 340px;
    border: 1px solid #ccc;
    background-color: rgb(246, 251, 255);
    margin-top: 0%;
    border-radius: 10px;
}

.container {
  display: grid;                          /* 그리드 활성화 */
  grid-template-columns: repeat(2, 1fr);  /* 두줄 정렬 */
  justify-items: center;
}



/*---------------------------*/


.Language {
    border: 1px solid black;
    border-radius: 5px;
    width: 60px;
    display: grid;
    background-color: #fff9f9;
    grid-template-columns: repeat(2, 1fr);
}

.git {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
