.gnb {
  position: fixed;
  width: 125%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 100;
}

.logo {
  font-weight: bold;
}

.navList {
  display: flex;
  gap: 2.0rem;
}

.navList a:hover {
  color : #cbd048;
}